// Las variables es ideal que estén disponibles lo antes posible
@import 'variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--naranja);
}

@import 'cabecera';